* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

html, body, #root {
  min-width: 100%; /*altura mínima de 100%, para o fundo da aplicação ocupar a tela toda */
}

body {
  background: #000 url('./assets/background.jpg') no-repeat;
  background-size: cover; /* a img vai cobrir toda a tela */
  -webkit-font-smoothing: antialiased !important; /* deixa a fonte mais detalhada */
}

body, input, button {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-size: 14px;
}